<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- starts from assets folder -->
</head>
<body>
    

    <%- include("parts/navbar.ejs") %>    <!-- Because i will use navbar in many pages  -->

    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="/<%= product.image %>">      <!-- product , comes from render -->

                <form action="/cart" method="post">
                    <input type="number" name="amount" class="form-control">
                    <input type="hidden" name="name"       value="<%= product.name %>">
                    <input type="hidden" name="price"      value="<%= product.price %>">
                    <input type="hidden" name="productId"  value="<%= product.id %>"> 
                    <input type="hidden" name="redirectTo" value="/product/<%= product.id %>">  

                    <input type="submit" value="Add To Cart" class="btn btn-primary"> 
                </form> 

                <% if(invalid) { %>
                    <p class="alert alert-danger">
                        <%= invalid.msg %>
                    </p>
                <% } %>

            </div>

            <div class="col col-12 col-md-6">
                <h3> <%= product.name %> </h3>
                <h5 >Price : <%= product.price %> </h5>
                <p> <%= product.description %> </p>
            </div>
        </div>
    </div> 



    <script src="/js/bootstrap.min.css"></script>
    <script src="/js/bootstrap1.min.css"></script>
    <script src="/js/popper.min.css"></script>
</body>
</html>